{erl_opts, [debug_info]}.

{plugins, [{pc, "1.15.0"}]}.

{project_plugins, [rebar3_hex]}.

{provider_hooks, [
    {pre, [
        %{compile, "make libsodium"},
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/enacl_nif.so", [
        "c_src/*.c"
    ]}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris|freebsd)", {pc, compile}, "make libsodium"}]
}.

{port_env, [
    {"darwin", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -Ilibsodium/install/include"},
    {"darwin", "LDFLAGS", "$LDFLAGS -flat_namespace -undefined suppress libsodium/install/lib/libsodium.a"},

    {"linux", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -Ilibsodium/install/include"},
    {"linux", "LDFLAGS", "$LDFLAGS libsodium/install/lib/libsodium.a"},

    {"freebsd", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -I /usr/local/include -Ilibsodium/install/include"},
    {"freebsd", "LDFLAGS", "$LDFLAGS -fPIC -L /usr/local/lib libsodium/install/lib/libsodium.a"},

    {"solaris", "CFLAGS", "$CFLAGS -fPIC -m64 -I/opt/local/include -O2 -std=c99 -finline-functions -Wall -Wmissing-prototypes -Ilibsodium/install/include"},
    {"solaris", "LDFLAGS", "$LDFLAGS -m64 -fPIC -L /opt/local/lib libsodium/install/lib/libsodium.a"},

    {"win32", "CFLAGS", "$CFLAGS /LD /O2 /DNDEBUG"},
    {"win32", "LDFLAGS", "$LDFLAGS libsodium.dll.a"}
]}.
